.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .project-container {
    grid-template-columns: 1fr;
  }
}
.project-container .project-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(193, 200, 211, 0.5);
  width: 100%;
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
}
.project-container .project-card .card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
}
.project-container .project-card .card-image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  filter: drop-shadow(0px 0px 5px rgba(117, 118, 120, 0.2));
}
.project-container .project-card .card-content {
  padding: 15px;
  text-align: center;
}
.project-container .project-card .card-content h3 {
  font-size: 1.2rem;
  margin: 5px 0;
}
.project-container .project-card .card-content p {
  font-size: 1rem;
  text-align: justify;
  padding: 0 8px;
  margin-bottom: 0;
}
.project-container .project-card:focus,
.project-container .project-card:active,
.project-container .project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 32px -11.2px #6610f2;
  border: 1px solid #6610f2;
  cursor: pointer;
}

.button-container {
  text-align: center;
  margin: 10px 0;
}
.button-container .long-button {
  padding: 10px 50px;
  font-size: 1.2rem;
  background-color: #007BFF;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  filter: drop-shadow(0px 0px 5px rgba(117, 118, 120, 0.5));
}
@media (max-width: 480px) {
  .button-container .long-button {
    padding: 10px 30px;
    font-size: 1rem;
  }
}
.button-container .long-button:focus,
.button-container .long-button:active,
.button-container .long-button:hover {
  background-color: #08c52b;
  outline: none;
  border: none;
  letter-spacing: 0.5px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #08c52b;
}