.home-content {
    display: flex;
    justify-content: center;
    /* Center align content horizontally */
    align-items: center;
    /* Center align content vertically */
    height: 55vh;
    /* Full height section */
    padding: 20px;

    .intro-container {
        text-align: center;
        /* Center text inside container */
        max-width: 600px;
        /* Optional: limit the width */
        width: 100%;
        /* Take full width of the parent */
        letter-spacing: 0.5px;
        text-shadow: 3px 3px 5px rgba(193, 200, 211, 0.5);
    }

    img {
        width: 150px;
        /* Set the width */
        height: 150px;
        /* Set the height */
        object-fit: contain;
        /* Ensure the image maintains its aspect ratio */
        border-radius: 50%;
        box-shadow: 0px 0px 5px rgba(193, 200, 211, 0.5);
        //filter: drop-shadow(0px 0px 5px rgba(193, 200, 211, 0.5)); /* More natural shadow */
    }

    h2 {
        font-size: 2rem;
        /* Set the font size for the heading */
        margin-bottom: 10px;
        /* Space between heading and paragraph */
    }

    p {
        font-size: 1.1rem;
        /* Set the font size for the paragraph */
        line-height: 1.6;
        /* Line height for better readability */
    }
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center align content horizontally */
    align-items: center;
    /* Center align content vertically */
    text-shadow: 3px 3px 5px rgba(193, 200, 211, 0.5);

    h2 {
        margin: 0;
        font-size: 2rem;
        /* Set the font size for the heading */
    }

    p {
        margin: 10px 0 0 0;
        font-size: 1.1rem;
        /* Set the font size for the paragraph */
        line-height: 1.6;
        /* Line height for better readability */
    }

    .bio-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;

        .left-pane {
            width: 30%;
            padding: 10px 15px;
            display: flex;
            align-items: center; // Vertically center
            justify-content: right; // Horizontally center

            img {
                width: 150px;
                /* Set the width */
                height: 150px;
                /* Set the height */
                object-fit: contain;
                /* Ensure the image maintains its aspect ratio */
                border-radius: 50%;
                box-shadow: 0px 0px 5px rgba(193, 200, 211, 0.5);
                //filter: drop-shadow(0px 0px 5px rgba(193, 200, 211, 0.5)); /* More natural shadow */
            }
        }

        .right-pane {
            width: 70%;
            padding: 10px 15px;
            display: flex; // Enable flexbox on the right pane
            flex-direction: column; // Stack the content vertically
            justify-content: center; // Vertically center the content
            align-items: left; // Horizontally center the content

            p {
                margin: 0;
                font-size: 1.1rem; // Set the font size for the paragraph
                line-height: 1.6; // Line height for better readability
                max-width: 70%; // Allow the paragraph to take up full width
                width: 70%; // Ensure paragraph takes full width of its container
                text-align: justify; // Keep the text justified

                // Add word wrap to ensure lines break after 70% width of the container
                word-wrap: break-word;
            }
        }
    }

    .qualificiations {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Two equal-width columns */
        column-gap: 20px;
        /* Adds space between columns */
        row-gap: 20px;
        /* Adds space between rows */
        margin: 20px auto;
        /* Center the entire grid container and add top/bottom margin */
        max-width: 1200px;
        /* Set a maximum width for the container */
        width: 80%;
        /* Set width as a percentage of the viewport */

        div {
            background-color: #eae5e5;
            /* Background for each block */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            /* Subtle shadow effect */
            display: block;
            /* Ensures each div takes its natural height */

            h3 {
                margin-top: 0;
                /* No top margin for the heading */
                text-align: center;
            }

            ul {
                list-style-type: none;
                padding-left: 0;
                margin: 0;
                width: 100%;
                /* Ensure the <ul> element fills its container */
            }

            ul li {
                margin: 8px 0;
                /* Space between list items */
                word-wrap: break-word;
                /* Allows breaking long words */
                overflow-wrap: break-word;
                /* Ensures long words wrap within the container */
                word-break: break-word;
                /* Force long words to break */
                white-space: normal;
                /* Ensures normal text wrapping */
                width: 100%;
                /* Ensure each list item takes up the full width of its parent */
                line-height: 1.6;
                /* Line height for better readability */
                letter-spacing: 0.5px;
                /* Slight letter spacing */
            }
        }

        div:active,
        div:focus,
        div:hover {
            cursor: pointer;
            letter-spacing: 0.5px;
            box-shadow: 0 0 32px -11.2px #6610f2;
            border: 1px solid #6610f2;
        }
    }

    .skills-dashboard {
        display: flex;
        flex-direction: column;
        /* Arrange as rows */
        gap: 2rem;
        /* Space between the two sections */
        width: 70%;

        h3 {
            margin-top: 0;
            /* No top margin for the heading */
            text-align: center;
        }

        .myskills {
            margin-top: 15px;

            ul {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                /* 3 equal-width columns */
                gap: 16px;
                /* Space between the list items */
                padding-left: 0;
                margin: 0;
                list-style-type: none;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    /* Align the text to the left in list items */
                    height: 100%;
                    /* Ensure each grid item has equal height */
                    margin: 5px 0;


                    background-color: #eae5e5;
                    /* Background for each block */
                    border-radius: 8px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                }

                li:active,
                li:focus,
                li:hover {
                    cursor: pointer;
                    letter-spacing: 0.5px;
                    box-shadow: 0 0 32px -11.2px #6610f2;
                    border: 1px solid #6610f2;
                }
            }
        }

        .app-container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            /* 3 equal-width columns */
            gap: 16px;
            /* Space between the images */
            padding: 10px;
            justify-items: center;
            /* Center images within their grid items */

            img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                /* Makes images scale according to their container */
                height: auto;
                /* Maintain aspect ratio */
                object-fit: cover;
                /* Ensures images cover the area of the grid cell */
                border-radius: 8px;
                /* Optional: adds rounded corners to images */
            }

            img:active,
            img:focus,
            img:hover {
                cursor: pointer;
                letter-spacing: 0.5px;
                filter: drop-shadow(0px 0px 5px rgba(117, 118, 120, 0.5)); /* More natural shadow */
            }
        }
    }
}