html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: auto;
  /* Center horizontally */
  background-color: rgb(234, 236, 238);
  font-family: "Roboto", sans-serif;
}

.divider {
  display: block;
  /* Ensures it's treated as a full-width block */
  margin: 0 auto;
  /* Centers the div horizontally */
  width: 80%;
  /* Adjusts width */
  height: 2px;
  /* Border thickness */
  background: linear-gradient(to right,
      transparent,
      rgb(74, 144, 226),
      transparent);
  /* Fading gradient effect */
}

.container {
  //   background: linear-gradient(
  //     45deg,
  //     rgb(104, 126, 255),
  //     rgb(104, 126, 255)
  //   ); // for header and footer (other sections can use if want)
  // Want one
  //   background: linear-gradient(
  //     45deg,
  //     rgb(60, 160, 255),
  //     rgb(60, 160, 255) /* Deeper blue */
  //   );
  background: linear-gradient(-45deg, rgb(255, 255, 255), rgb(224, 228, 232));
  box-shadow: 5px 5px 15px rgb(193, 200, 211), -5px -5px 15px rgb(193, 200, 211);
}
